.glyphicon {
	margin-right: 5px;
}

.form-registration {
	width: 100%;
	max-width: 500px;
	padding: 15px;
	margin: 0 auto;
}

.form-login {
	width: 100%;
	max-width: 500px;
	padding: 15px;
	margin: 0 auto;
}

.form-message-new
 {
	width: 100%;
	max-width: 700px;
	padding: 15px;
	margin: 0 auto;
}

.form-message-new .message-body  {
	height: 350px;
}

